<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify | Login SignUp</title>
    <link rel="icon" href="./login/img/logo.png">
    <link rel="stylesheet" href="login/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js">
    </script>
    <!-- <script src="./controllers/login-signup.js"></script> -->
    <script src="./controllers/app.js"></script>
    <script src="./controllers/routes.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <!-- LEFT FORM -->
    <section class="left-section">
        <div id="left-cover" class="cover cover-hide">
            <img src="login/img/cover.png" alt="" />
            <h1>Welcome User!</h1>
            <h3>Already have an account?</h3>
            <button type="button" class="switch-button" ng-click="reload()">
                Login
            </button>
        </div>
        <div id="left-form" class="form fade-in-element">
            <h1>Login</h1>
            <form action="/" method="GET" novalidate autocomplete="off">
                <input ng-model="username_login" type="text" name="username1" class="input-box"
                    placeholder="Username or Email" required />
                <input ng-model="password_login" type="password" name="userpassword1" class="input-box"
                    placeholder="Password" required />
                <input type="button" name="login-button" class="button" value="Login" ng-click="loadData($event)" />
            </form>
        </div>
    </section>

    <!-- RIGHT FORM -->
    <section class="right-section">
        <div id="right-cover" class="cover fade-in-element">
            <img src="login/img/cover.png" alt="" />
            <h1>Welcome User!</h1>
            <h3>Don't have an account?</h3>
            <button type="button" class="switch-button" ng-click="switchSide($event)">
                Sign Up
            </button>
        </div>
        <div id="right-form" class="form form-hide">
            <h1>Sign Up</h1>
            <form ng-model="form" action="/" name="myForm" method="post">
                <!-- ng-submit="return checkForBlank()"> -->
                <input ng-model="username" type="text" name="username1" class="input-box" placeholder="Username"
                    ng-pattern="/^[A-Za-z][A-Za-z0-9_]{7,29}$/" ng-required="true" />
                <span ng-show="myForm.username1.$error.required && myForm.username1.$touched" class="error">Username is
                    required.</span>
                <span ng-show="myForm.username1.$error.pattern && myForm.username1.$touched" class="error">Provide a
                    valid username having </br> alphanumeric values.</span>
                <input ng-model="email" type="email" name="useremail1" class="input-box" placeholder="Email"
                    ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/" ng-required="true" />
                <span ng-show="myForm.useremail1.$error.required && myForm.useremail1.$touched" class="error">Email is
                    required.</span>
                <span ng-show="myForm.useremail1.$error.pattern && myForm.useremail1.$touched" class="error">Provide a
                    valid email address.</span>
                <input ng-model="phone" type="number" name="userphone1" class="input-box" placeholder="Phone Number"
                    ng-pattern="/^[0-9]{10}$/" ng-required="true" />
                <span ng-show="myForm.userphone1.$error.required && myForm.userphone1.$touched" class="error">Phone
                    number is required.</span>
                <span ng-show="myForm.userphone1.$error.pattern && myForm.userphone1.$touched" class="error">Provide a
                    valid phone number.</span>
                <input ng-model="password" type="password" name="userpassword1" class="input-box" placeholder="Password"
                    ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,20}$/" ng-required="true" />
                <span ng-show="myForm.userpassword1.$error.required && myForm.userpassword1.$touched"
                    class="error">Password
                    is required.</span>
                <span ng-show="myForm.userpassword1.$error.pattern && myForm.userpassword1.$touched"
                    class="error">Password
                    must be of at least 8 characters</br> that include at least 1 lowercase, 1 uppercase,</br> 1 special
                    character
                    and 1 number.</span>
                <input ng-model="cpassword" type="password" name="usercpassword1" class="input-box"
                    placeholder="Confirm Password" ng-required="true" />
                <div ng-model="errorCPassword" class="error"></div>
                <span ng-show="myForm.usercpassword1.$error.required && check() && myForm.usercpassword1.$touched"
                    class="error">Password is required.</span>
                <span ng-show="myForm.usercpassword1.$touched && !check()" class="error">Passwords do not match</span>
                <input type="submit" ng-model="button" name="signup-button" class="button" value="Sign Up"
                    ng-click="saveData($event)" />
            </form>
        </div>
    </section>
</body>

</html>