<div id="main" class="main">
    <div>
        <!-- navbar start -->
        <div id='header' class='header'>
            <a href="#!/home">
                <div class='logo'><img src='./home/img/fullLogo.jpg' alt='Spotify Full Logo' class='brand' /></div>
            </a>
            <div id="myDIV" class="links">
                <ul><a href="#!/home`">
                        <li class="linkColor active">New Releases</li>
                    </a><a href="#!/trending">
                        <li class="linkColor">Trending</li>
                    </a><a href="#!/playlist">
                        <li class="linkColor">Playlist</li>
                    </a><a href="#!/library">
                        <li class="linkColor">Library</li>
                    </a><a href="#!/contact">
                        <li class="linkColor">Contact Us</li>
                    </a></ul>
            </div>
            <div style="cursor: pointer;" ng-click="logout()">
                <div class='profile'><img src='./home/img/user.jpg' alt='User Profile' class='user_img' />
                    <div class='user_name'></div>
                    <div style='text-decoration: none; color: #fff; font-size: 15px; '>Logout</div>
                </div>
            </div>
        </div>
        <!-- navbar end -->
        <h1 style="color: #fff;">Contact</h1>
    </div>