<div id="main" class="main">
    <div class="library-container">
        <script src="./navbar.js"></script>
        <form action=''>
            <input type='hidden' id='hidden_token'>
            <div class="genre">
                <label for='Genre' class='form-label'>Genre:</label>
                <select name='' id='select_genre' class='form-control'>
                    <option>Select...</option>
                </select>
            </div>
            <div class="genre">
                <label for='Genre' class='form-label'>Playlists:</label>
                <select name='' id='select_playlist' class='form-control'>
                    <option>Select...</option>
                </select>
            </div>
            <button type='submit' id='btn_submit' class='btn-success'>Search</button>
        </form>
        <div class='songs'>
            <div class='list-group song-list'>

            </div>
            <div class='song_detail' id='song-detail'>
            </div>
        </div>
    </div>
</div>