<div id="main" class="main">
    <div>
        <!-- navbar start -->
        <div id='header' class='header'>
            <a href="#!/home">
                <div class='logo'><img src='./home/img/fullLogo.jpg' alt='Spotify Full Logo' class='brand' /></div>
            </a>
            <div id="myDIV" class="links">
                <ul><a href="#!/home`">
                        <li class="linkColor active">New Releases</li>
                    </a><a href="#!/trending">
                        <li class="linkColor">Trending</li>
                    </a><a href="#!/playlist">
                        <li class="linkColor">Playlist</li>
                    </a><a href="#!/library">
                        <li class="linkColor">Library</li>
                    </a></ul>
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input ng-model="search" type="text" name="search" class="search_input"
                        placeholder="Search Songs / Artists" />
                </div>
            </div>
            <div style="cursor: pointer;" ng-click="logout()">
                <div class='profile'><img src='./home/img/user.jpg' alt='User Profile' class='user_img' />
                    <div class='user_name'></div>
                    <div style='text-decoration: none; color: #fff; font-size: 15px; '>Logout</div>
                </div>
            </div>
        </div>
        <!-- navbar end -->
        <!-- start -->
        <header>
            <div class="menu_side">
                <div class="playlist">
                    <h4 class="active1"><span></span><i class="bi bi-music-note-beamed"></i> Playlist</h4>
                    <h4><span></span><i class="bi bi-music-note-beamed"></i> Last Listening</h4>
                    <h4><span></span><i class="bi bi-music-note-beamed"></i> Recommended</h4>
                </div>
                <div class="menu_song">
                    <li class="songItem">
                        <span>01</span>
                        <img src="./home/img/1.jpeg" alt="Artist">
                        <h5>
                        </h5>
                        <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                    </li>
                    <li class="songItem">
                        <span>02</span>
                        <img src="./home/img/1.jpeg" alt="Artist">
                        <h5>
                        </h5>
                        <i class="bi playListPlay bi-play-circle-fill" id="2"></i>
                    </li>
                    <li class="songItem">
                        <span>03</span>
                        <img src="./home/img/1.jpeg" alt="Artist">
                        <h5>
                        </h5>
                        <i class="bi playListPlay bi-play-circle-fill" id="3"></i>
                    </li>
                    <li class="songItem">
                        <span>04</span>
                        <img src="./home/img/1.jpeg" alt="Artist">
                        <h5>
                        </h5>
                        <i class="bi playListPlay bi-play-circle-fill" id="4"></i>
                    </li>
                    <li class="songItem">
                        <span>05</span>
                        <img src="./home/img/1.jpeg" alt="Artist">
                        <h5>
                        </h5>
                        <i class="bi playListPlay bi-play-circle-fill" id="5"></i>
                    </li>
                    <li class="songItem">
                        <span>06</span>
                        <img src="./home/img/1.jpeg" alt="Artist">
                        <h5>
                        </h5>
                        <i class="bi playListPlay bi-play-circle-fill" id="6"></i>
                    </li>
                </div>
            </div>


            <div class="song_side">
                <!-- <nav>
                    <ul>
                        <li>Discover <span></span></li>
                        <li>MY LIBRARY</li>
                        <li>RADIO</li>
                    </ul>
                </nav> -->
                <div class="content">
                    <h1>Sub Urban - Cradles</h1>
                    <p>
                        I live inside my own world of make-believe kids screaming in their cradles, profanities
                        <br>
                        I see the world through eyes covered in ink and bleach cross out the ones who heard my cries
                        and watched me weep..
                    </p>
                    <div class="buttons">
                        <button>PLAY</button>
                        <button>FOLLOW</button>
                    </div>
                </div>
                <div class="popular_song">
                    <div class="h4">
                        <h4>Popular Song</h4>
                        <div class="btn_s">
                            <i id="left_scroll" class="bi bi-arrow-left-short"></i>
                            <i id="right_scroll" class="bi bi-arrow-right-short"></i>
                        </div>
                    </div>
                    <div class="pop_song">
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="7"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="8"></i>
                                <!-- change All id  -->
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="9"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="10"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="11"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="12"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="13"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="14"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="15"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="16"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="17"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="18"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="19"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                        <li class="songItem">
                            <div class="img_play">
                                <img src="./home/img/1.jpeg" alt="Artist">
                                <i class="bi playListPlay bi-play-circle-fill" id="20"></i>
                            </div>
                            <h5>Song
                                <br>
                                <div class="subtitle">Artist</div>
                            </h5>
                        </li>
                    </div>
                </div>
            </div>


            <div class="master_play">
                <div class="wave">
                    <div class="wave1"></div>
                    <div class="wave1"></div>
                    <div class="wave1"></div>
                </div>
                <img src="./home/img/cradles.jpg" alt="Artist" id="poster_master_play">
                <h5 id="title">Cradles<br>
                    <div class="subtitle">Sub Urban</div>
                </h5>
                <div class="icon">
                    <i class="bi bi-skip-start-fill" id="back"></i>
                    <i class="bi bi-play-fill" id="masterPlay"></i>
                    <i class="bi bi-skip-end-fill" id="next"></i>
                </div>
                <span id="currentStart">0:00</span>
                <div class="bar">
                    <input type="range" id="seek" min="0" value="0" max="100">
                    <div class="bar2" id="bar2"></div>
                    <div class="dot"></div>
                </div>
                <span id="currentEnd">0:00</span>

                <div class="vol">
                    <i class="bi bi-volume-down-fill" id="vol_icon"></i>
                    <input type="range" id="vol" min="0" value="30" max="100">
                    <div class="vol_bar"></div>
                    <div class="dot" id="vol_dot"></div>
                </div>
            </div>
        </header>
        <!-- end -->
    </div>